@{
    ViewBag.Title = "TROT Safety";
}

<div class="row">
    <nav class="top-bar" data-topbar style="background: #d9b34a">
        <ul class="title-area"></ul>
    </nav>

    <div class="large-2">
    
        <br/>
        <br/>
    </div>

    <div class="large-8" style="margin-left:auto; margin-right:auto" >
        <iframe src="//slides.com/deepatidke/deck/embed" width="640" height="480" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
        <div class="large-2"></div>
    </div>
