<div class="row">
    <div class="large-3 columns">
        <a href="~/"><h4 style="padding-top:0.5em; font-family:go"><img src="~/Content/images/TROT_Gold.png" style="height:40px" /></h4></a>
    </div>
    <div class="large-9 columns">
        <ul class="right button-group">
            <li><a href="~/Download" class="button">Know more &nbsp; > </a></li>
            <li><a href="~/Safety" class="button">TROT<small style="vertical-align:top">&copy;</small> Safety</a></li>
            <li><a href="~/Account/Login" class="button">Register with TROT<small style="vertical-align:top">&copy;</small></a></li>
            <li><a href="~/Contacts" class="button">Contact us</a></li>
        </ul>
    </div>
</div>


